*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', 'sans-serif';
}

:root{
  --colorDark1:#112D4E;
  --colorDark2:#3F72AF;
  --colorLight1:#DBE2EF;
  --colorLight2:#F9F7F7;
}     






.tab.current-tab {
  /* background-color: rgba(219, 236, 230, 8.5); */
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
}
.form-container.active {
  scale: 1;
  opacity: 1;
  background-color: blueviolet;
}

